        <div class="form-container">
            <h1 class="page-title">Formulario de Rol</h1>
            <hr />
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" placeholder="ID de Rol" [(ngModel)]="newRolData.id_rol">
                </div>
                <div class="form-group col">
                    <input type="text" placeholder="Número de Rol" [(ngModel)]="newRolData.numero_rol">
                </div>
                <div class="form-group col">
                    <input type="text" placeholder="Nombre de Rol" [(ngModel)]="newRolData.nombre_rol">
                </div>
            </div>
            <div class="buttons">
                <button class="create-button" (click)="createNewRol()">Crear Rol</button>
                <button class="update-button" (click)="updateRol(newRolData.id_rol, newRolData)">Actualizar Rol</button>
                <button class="delete-button" (click)="deleteRol(newRolData.id_rol)">Eliminar Rol</button>
            </div>
        </div>
        <div class="texto">
            <h3 class="page-title"></h3>
            <ul>
                <li *ngFor="let rol of roles" (click)="loadRolDetails(rol.id_rol)">
                    {{ rol.nombre_rol }}
                </li>
            </ul>
        </div>
        <div><img src="../../../assets/Imagen1.png" width= 600px height= 600px></div>
